/* chus thích trong css */
h2 {
    color:blue;
    background-color: brown
}
p {
    color: chocolate;
}
#doanvan1 {
    color: blueviolet !important;
}
.paragraph {
    background-color: burlywood;
}
.paragraph2 {
    color: green;
    background-color: cyan;
}
h3,h4 {
    color: brown;
    text-decoration: line-through;
}